.card {
  border-color: blue;
  width: 100%;
  position: relative;
}

.imgContainer {
  border-color: blue;
  border: 10px;
}

.card img:hover {
  opacity: 0.8;
}

.card img {
  object-fit: contain;
  cursor: pointer;
  transition: all 0.5s ease;
  width: 50vh;
  justify-self: center;
}

.titletext {
  padding: 0;
  color: blueviolet;
  display: flex;
  align-items: center;
}

.bodytext {
  padding: 0;
  color: blueviolet;
}
